NEXT_PUBLIC_SUPABASE_URL=https://jxkmtwgsirqbwlljlqna.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4a210d2dzaXJxYndsbGpscW5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NzEyMTcsImV4cCI6MjA5MTU0NzIxN30.R7s9dvfX9XLYN-8sEyMXZE3uxD4LHwettaTJO4XjoRE
NEXT_PUBLIC_SITE_URL=localhost:3000
